<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizGame</title>
    <style>
      /* Allgemeine Stile */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      h1, h2 {
        text-align: center;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      /* Header */
      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 18px;
      }

      /* Scoreboard */
      .scoreboard {
        margin: 20px auto;
        max-width: 400px;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 5px;
      }

      /* Quizbox */
      .quizbox {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 5px;
      }

      .answers {
        padding: 10px;
        margin: 10px 0;
        background-color: #e0e0e0;
        border-radius: 5px;
        cursor: pointer;
      }

      /* Zwischenrunde */
      .betweenRound {
        max-width: 400px;
        margin: 20px auto;
        padding: 10px;
        text-align: center;
        background-color: #f0f0f0;
        border-radius: 5px;
      }

      #countdown {
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
      }

      /* Spieler-Elemente */
      
      .userscore
       {
        margin: 10px auto;
        max-width: fit-content;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 5px;
        
      }

      /* Ende-Elemente */
      #end {
        margin: 20px auto;
        max-width: 400px;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 5px;
      }

      #endButton {
        text-align: center;
        margin-top: 20px;
      }

      button {
        padding: 10px 20px;
        background-color: #f0f0f0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      /* Medienabfragen f체r Responsive Design */
      @media screen and (max-width: 600px) {
        h1 {
          font-size: 20px;
        }

        h2 {
          font-size: 16px;
        }

        .scoreboard, .quizbox, .betweenRound, .user1, .user2, .userscore1, .userscore2, #end {
          max-width: 300px;
        }
      }

      @media screen and (max-width: 400px) {
        .scoreboard, .quizbox, .betweenRound, .user1, .user2, .userscore1, .userscore2, #end {
          max-width: 250px;
        }
      }

    </style>
  </head>
  <body>
    <h1><%= roomID%></h1>
    <h2><%= username%></h2>
    <img src="<%= avatar%>" width="50px" height="50px">

    <div id="roundCounter"></div>

    <div class="scoreboard" id="scoreboard">
      <!-- scoreboard content will be dynamically generated -->
    </div>

    <div class="quizbox" id="quizbox">

      <h2 id="question-text"></h2>
      <div class = "answers" id="option1-text"></div>
      <div class = "answers" id="option2-text"></div>
      <div class = "answers" id="option3-text"></div>
      <div class = "answers" id="option4-text"></div>
  </div>

  <div class= "betweenRound" id="waitText">Mach dich Bereit, die n채chste Runde startet gleich  
    <div id= "countdown">5</div>
  </div>

  <div class ="userscore" id="scoreboard-container">
    <table>
      <thead>
        <tr>
          <th>Rang</th>
          <th>Benutzername</th>
          <th>Punktzahl</th>
        </tr>
      </thead>
      <tbody id="scoreboard-body">
        <!-- Hier werden die Spieler eingef체gt -->
      </tbody>
    </table>
  </div>
  
  <div id="endButton">
    <form action="/index" method="GET">
      <button type="submit">Back to Dashboard</button>
    </form>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    const roomId = "<%= roomID %>";
     const username = "<%= username %>";
    
    window.onload = function () {
      socket.emit('gamePageLoaded',roomId, username);
      console.log(username);
      document.getElementById("endButton").disabled = true;
      document.getElementById('scoreboard-container').style.display = 'none';
      
    };

    const clickHandler = function() {
      socket.emit("questionSelected", roomId, username, this.textContent);
    };


      const option1TextElement = document.getElementById("option1-text");
      const option2TextElement = document.getElementById("option2-text");
      const option3TextElement = document.getElementById("option3-text");
      const option4TextElement = document.getElementById("option4-text");

      document.getElementById("option1-text").addEventListener("click", clickHandler);
      document.getElementById("option2-text").addEventListener("click", clickHandler);
      document.getElementById("option3-text").addEventListener("click", clickHandler);
      document.getElementById("option4-text").addEventListener("click", clickHandler);

    
      socket.on('question', function(question, round) {

      const waitTextq = document.getElementById('waitText')
      waitTextq.style.display = 'none';
      enableQuestions();
      document.getElementById('quizbox').style.display = 'block';
      document.getElementById("roundCounter").textContent = round;

      console.log("Frage erhlaten");
      document.getElementById('question-text').textContent = question.text;
      document.getElementById('option1-text').textContent = question.answers[0];
      document.getElementById('option2-text').textContent = question.answers[1];
      document.getElementById('option3-text').textContent = question.answers[2];
      document.getElementById('option4-text').textContent = question.answers[3];

    });

    socket.on("newRoundCountdown", () => {
      disableQuestions();
      document.getElementById('quizbox').style.display = 'none';
      const waitTextq = document.getElementById('waitText')
      waitTextq.style.display = 'block';
      startCountdown();
    });

    socket.on("test", (roomID) => {

      console.log("Test erfolgreich ! " + roomID);

    });


    socket.on("gameEnd", (players) => {
      
      disableQuestions(); //fragen ausblenden

      document.getElementById('scoreboard-container').style.display = 'block';

      players.sort((a, b) => b.score - a.score);      
      const scoreboardContainer = document.getElementById("scoreboard-container");
      scoreboardContainer.innerHTML = ""; // Leeren des Inhalts des Beh채lters

      const scoreboardTable = document.createElement("table");
      const headerRow = document.createElement("tr");
      const rankHeader = document.createElement("th");
      rankHeader.textContent = "Rang";
      const usernameHeader = document.createElement("th");
      usernameHeader.textContent = "Benutzername";
      const scoreHeader = document.createElement("th");
      scoreHeader.textContent = "Punktzahl";

      headerRow.appendChild(rankHeader);
      headerRow.appendChild(usernameHeader);
      headerRow.appendChild(scoreHeader);
      scoreboardTable.appendChild(headerRow);

      players.forEach((player, index) => {
      const playerRow = document.createElement("tr");
      const rankCell = document.createElement("td");
      rankCell.textContent = index + 1;
      const usernameCell = document.createElement("td");
      usernameCell.textContent = player.username;
      const scoreCell = document.createElement("td");
      scoreCell.textContent = player.score;

      playerRow.appendChild(rankCell);
      playerRow.appendChild(usernameCell);
      playerRow.appendChild(scoreCell);
      scoreboardTable.appendChild(playerRow);
      });

      scoreboardContainer.appendChild(scoreboardTable);

    });

    socket.on("scoreBoard", function (players) {
          const scoreboardElement = document.getElementById("scoreboard");
          scoreboardElement.innerHTML = "";
          players.forEach(function (player) {
            const playerElement = document.createElement("div");
            playerElement.textContent = "Player: " + player.username + " | Score: " + player.score;
            scoreboardElement.appendChild(playerElement);
          });
        });
    function disableQuestions(){

      option1TextElement.removeEventListener('click', clickHandler);
      option2TextElement.removeEventListener('click', clickHandler);
      option3TextElement.removeEventListener('click', clickHandler);
      option4TextElement.removeEventListener('click', clickHandler);

      document.getElementById('question-text').textContent = " ";
      document.getElementById('option1-text').textContent = " ";
      document.getElementById('option2-text').textContent = " ";
      document.getElementById('option3-text').textContent = " ";
      document.getElementById('option4-text').textContent = " ";
   
      const answerElements = document.querySelectorAll('.answers');
      answerElements.forEach((element) => {
        element.classList.remove('answers');//.answers entfernen
      });

  }

  function enableQuestions() {
    
    option1TextElement.addEventListener('click', clickHandler);
    option2TextElement.addEventListener('click', clickHandler);
    option3TextElement.addEventListener('click', clickHandler);
    option4TextElement.addEventListener('click', clickHandler);

    option1TextElement.classList.add('answers');
    option2TextElement.classList.add('answers');
    option3TextElement.classList.add('answers');
    option4TextElement.classList.add('answers');
}

function startCountdown(){
  let timer = 5;
  const countdownText = document.getElementById('countdown');

  const countdownInterval = setInterval(() => {
    countdownText.textContent = timer;

    if (timer <= 0) {
      clearInterval(countdownInterval);
      
    }

    timer--;
  }, 1000);

}
    
  </script>
    
  </body>
</html>