<!DOCTYPE html>
<html>
<head>
  <title>Profile of <%= username%></title>
  <style>
    table {
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
  </style>
</head>
<body>
  <%- include('navbar') %>

  <div>
    <% rows.forEach(function(row) { %>
      <h1>Profile of <%= row.USERNAME%></h1>
    <% }) %>
    <div style="position: relative;">
      <img src="/assets/emojis/<%= avatar%>" width="50px" height="50px">
      <!-- <img src="/assets/ranks/fourth_level.png" width="72px" height="72px" style="position: absolute; top: 0; left: 0; z-index: 1;"> -->
    </div>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Highscore</th>
        <th>Wins</th>
        <th>Concurrent Wins</th>
        <th>Perfect Wins</th>
        <th>Loses</th>
      </tr>
    </thead>
    <tbody>
      <% rows.forEach(function(row) { %>
        <tr>
          <td><a href="/profile/<%= row.USERNAME %>"><%= row.USERNAME %></a></td>
          <td><%= row.HIGHSCORE %></td>
          <td><%= row.WINS %></td>
          <td><%= row.CONCURRENT_WINS %></td>
          <td><%= row.PERFECT_WINS %></td>
          <td><%= row.LOSES %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
