<!DOCTYPE html>
<html>
<head>
  <title>Profile of <%= username%></title>
  <style>
    table {
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
  </style>
</head>
<body>
  <%- include('navbar') %>

  <% rows.forEach(function(row) { %>
    <h1>Profile of <%= row.USERNAME%></h1>
  <% }) %>
  <img src="<%= avatar%>" width="50px" height="50px">
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Highscore</th>
      </tr>
    </thead>
    <tbody>
      <% rows.forEach(function(row) { %>
        <tr>
          <td><a href="/profile/<%= row.USERNAME %>"><%= row.USERNAME %></a></td>
          <td><%= row.HIGHSCORE %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
