<!DOCTYPE html>
<html>
<head>
  <title>Profile of <%= username%></title>
  <style>
    /* Allgemeine Styles */

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background: url("public/assets/backgrounds/maze-1542265_1920.png");
    }

    h1 {
      margin-top: 0;
    }

    table {
      border-collapse: collapse;
      background-color: #a42834;
      width: 100%;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
    }

    th {
      background-color: #333;
      color: #fff;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    /* Responsives Design */

    @media screen and (max-width: 600px) {
      table {
        font-size: 12px;
      }

      th, td {
        padding: 4px;
      }
    }

  </style>
</head>
<body>
  <%- include('navbar') %>

  <div>
    <% rows.forEach(function(row) { %>
      <h1>Profile of <%= row.USERNAME%></h1>
    <% }) %>
    <div style="position: relative;">
      <img src="/assets/emojis/<%= avatar%>" width="50px" height="50px">
      <!-- <img src="/assets/ranks/fourth_level.png" width="72px" height="72px" style="position: absolute; top: 0; left: 0; z-index: 1;"> -->
    </div>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Highscore</th>
      </tr>
    </thead>
    <tbody>
      <% rows.forEach(function(row) { %>
        <tr>
          <td><a href="/profile/<%= row.USERNAME %>"><%= row.USERNAME %></a></td>
          <td><%= row.HIGHSCORE %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
