<!DOCTYPE html>
<html>
<head>
  <title>Profile of <%= username%></title>
  <style>

    body {
      font-family: "Helvetica", sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    .navbar a {
      color: #fff;
      text-decoration: none;
      margin-right: 10px;
    }

    .profile h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      flex-direction: column;
    }

    .profile img {
      margin-bottom: 10px;
    }


    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      background-color: #fff;
      border-radius: 5px;
    }

    table th,
    table td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    table th {
      background-color: #333;
      color: #fff;
    }

    table a {
      color: #333;
      text-decoration: none;

    }
    .achievements img {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
    }

    @media (max-width: 768px) {
      .container {
        padding: 10px;
      }
    }



  </style>
</head>
<body>
  <%- include('navbar') %>

  <div>
    <% rows.forEach(function(row) { %>
      <h1>Profile of <%= row.USERNAME%></h1>
    <% }) %>
    <div style="position: relative;" class="profile">
      <img src="/assets/emojis/<%= avatar%>" width="50px" height="50px">
      <!-- <img src="/assets/ranks/fourth_level.png" width="72px" height="72px" style="position: absolute; top: 0; left: 0; z-index: 1;"> -->
    </div>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Highscore</th>
        <th>Wins</th>
        <th>Concurrent Wins</th>
        <th>Perfect Wins</th>
        <th>Loses</th>
      </tr>
    </thead>
    <tbody>
      <% rows.forEach(function(row) { %>
        <tr>
          <td><a href="/profile/<%= row.USERNAME %>"><%= row.USERNAME %></a></td>
          <td><%= row.HIGHSCORE %></td>
          <td><%= row.WINS %></td>
          <td><%= row.CONCURRENT_WINS %></td>
          <td><%= row.PERFECT_WINS %></td>
          <td><%= row.LOSES %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Achievments</th>
      </tr>
    </thead>
    <tbody>
      <% achievement.forEach(function(achievement) { %>
        <tr>
          <td><img src="/assets/achievements/<%= achievement.FILE_NAME %>"></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
