<!DOCTYPE html>
<html>
<head>
  <title>User Highscores</title>
  <style>
    table {
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
  </style>
</head>
<body>
  <%- include('navbar') %>
  <h1>User Highscores</h1>
  <table>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Username</th>
        <th>Highscore</th>
      </tr>
    </thead>
    <tbody>
      <% rows.forEach(function(row) { %>
        <tr>
            <td style="position: relative; width: 72px; height: 72px;">
              <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <img src="/assets/<%= row.FILE_PATH%>" alt="Image 1" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <img src="/assets/ranks/fourth_level.png" alt="Image 2" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;">
              </div>
            </td>          
            <td><a href="/profile/<%= row.USERNAME %>"><%= row.USERNAME %></a></td>
          <td><%= row.HIGHSCORE %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
